:root {
  --pink: #ff57b2;
  --black: #1a1d23;

  --gray-000: #f8f8f8;
  --gray-200: #d7d7d7;
  --gray-300: #bbbbbb;

  --highlight: var(--pink);
  --heading: var(--gray-000);
  --bg: var(--black);
  --info: var(--gray-300);
  --body: var(--gray-200);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// html {
//   margin-left: calc(100vw - 100%);
// }

body {
  background-color: var(--bg);
  color: var(--gray-000);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
button,
textarea {
  font: 400 1rem 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bold;
}

a,
button {
  cursor: pointer;
  border: none;
}

input {
  &[type='number'] {
    -moz-appearance: textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

pre,
code {
  font-family: monospace, monospace;
  overflow: auto;

  scrollbar-width: thin;
  scrollbar-color: var(--black) #5f6165;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #5f6165;
    // border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--black);
    // border-radius: 6px;
    border-top: 1px solid #5f6165;
    border-bottom: 1px solid #5f6165;
  }
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

main {
  max-width: 1120px;
  margin: 0 auto;
}

.utterances {
  margin-top: 3rem;
}

.code {
  font-family: monospace, monospace;
  padding: calc(4px) calc(6px);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}

div.embed-static_image {
  margin-top: 2rem;
  margin-bottom: 3rem;

  figure[data-type='static_image'] {
    img {
      width: 100%;
    }

    figcaption {
      font-size: 70%;
      font-style: italic;
    }
  }
}

div.embed[data-oembed-type='video'] {
  margin-top: 2rem;
  margin-bottom: 3rem;

  > div > figcaption {
    font-size: 70%;
    font-style: italic;
  }

  &.embed-youtube {
    position: relative;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
